<div id="navbar-wrapper">
  <div id="navbar" role="banner">
    {{ page.navbar }}
    <button class="icon-menu">
      <span class="icon-menu-1"></span>
      <span class="icon-menu-2"></span>
      <span class="icon-menu-3"></span>
    </button>
  </div>
</div>

<div id="navbar-collapse">

  <div class="container">
    <header id="header" role="banner">
      {{ page.header }}
    </header>

    {% if page.menu %}
    <div id="menu" class="main-navigation">
      {{ page.menu }}
    </div>
    {% endif %}

  </div>

</div>

<div id="hero">
  {{ page.hero }}
</div>

{% if has_page_layout == 1 %}

  <div class="container">
    {{ page.highlighted }}
    {{ page.help }}
    {{ page.tabs }}
  </div>

  <main id="main" role="main">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    {{ page.content }}
  </main>

{% else %}

  {%
    set content_classes = [
      page.sidebar_first|render|striptags|trim and page.sidebar_second|render|striptags|trim ? 'two-sidebars',
      page.sidebar_first|render|striptags|trim and page.sidebar_second|render|striptags|trim is empty ? 'one-sidebar sidebar-first',
      page.sidebar_second|render|striptags|trim and page.sidebar_first|render|striptags|trim is empty ? 'one-sidebar sidebar-second',
      page.sidebar_first|render|striptags|trim is empty and page.sidebar_second|render|striptags|trim is empty ? 'no-sidebars'
    ]
  %} 

  <div id="center" {{ content_attributes.addClass(content_classes) }}>
    <div class="container">

      <div class="region region-center">

        {% if page.sidebar_first|render|striptags|trim %}
          <aside id="sidebar-first" class="sidebar" role="complementary">
            {{ page.sidebar_first }}
          </aside>
        {% endif %}

        <main id="main" role="main">
          <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
          {{ page.highlighted }}
          {{ page.help }}
          {{ page.breadcrumb }}
          {{ page.tabs }}
          {{ page.content }}
        </main>

        {% if page.sidebar_second|render|striptags|trim %}
          <aside id="sidebar-second" class="sidebar" role="complementary">
            {{ page.sidebar_second }}
          </aside>
        {% endif %}

      </div>
    </div>
  </div>

{% endif %}

<footer id="footer" role="contentinfo">
  <div class="container">
    {{ page.footer }}
  </div>
</footer>

{% if page.copyright %}
<div id="copyright" role="contentinfo">
  <div class="container">
    {{ page.copyright }}
  </div>
</div>
{% endif %}
